@import 'src/styles/variable';

.layer-file {
    &__feature-wrapper {

    }

    &__list-feature {
        user-select: none;
        -webkit-user-select: none;
    }

    &__item-feature {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid var(--grey-400);

        font-size: var(--f-size-16);
        cursor: pointer;
        padding: 12px 0;

        color: var(--secondary-color-15);

        &__icon {
            margin-right: 5px;
            cursor: pointer;
        }

        &__feature-name {
        }

        &.layerActive {
            color: var(--primary-color);
        }
    }

    &__action {
        width: 100%;
        padding: 12px;
    }

    &__action-icon {
        width: 100%;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        color: var(--secondary-color-15);

        &.is-active {
            color: var(--primary-color);
        }
    }

    &__sub-layer-content {
        z-index: 10;
    }

    &__popover {
        inset: 64px 50px auto auto !important;
    }
}

.layer {
    display: flex;
    align-items: center;
    cursor: pointer;
}
