.popup-wiring-distance {
  padding: 10px;
  min-width: 140px;
  height: 50px;

  color: #fff;
  background: var(--primary-color);
  
  border-top-left-radius: 5px;
  
  position: fixed;
  right: 52px;
  bottom: 0px;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  z-index: 20;
  
  &__text {
    flex-basis: 100%;
  }
}
