@import 'src/styles/variable';

.form-custom {
  :global {
    .ant-form-item-explain-error {
      font-size: 0.75rem;
      color: red;
    }
  }
}

.formChange {
  padding: 20px 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  position: relative;

  .btnConfirm {
    margin-top: 20px;
  }

  .btnDefault {
    border: 1px solid $grey30;
    background-color: white !important;
    color: $grey30 !important;
  }

  .recommendation {
    padding: 5px;
    font-weight: var(--f-weight-light);
    font-size: 0.75rem;
    color: red;

    // position: absolute;
    // top: 54px;
  }
}

.unitInfo {
  font-size: 0.8rem;
  position: absolute;
  z-index: 10;
  background-color: white;
  padding: 10px;
  width: 130px;
  top: 1px;
}

// ------------ Progress Change Unit

.progress-container {
  width: 300px;
  margin-top: 10px;
}
