@import "src/styles/variable";

.modalTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btnTitle {
    text-transform: uppercase;
  }
}

.roomInfoForm {
  padding: 20px 0;

  .chooseForm {
    padding: 0 20px;
    width: 100%;
    height: 100%;
    border-left: 1px solid $light-primary-color;
    margin-left: 20px;
  }
}

.divider {
  border-bottom: 1px solid $light-primary-color;
  margin: 6px 0;
}

.roomChooseSelect {
  width: 100%;
  padding: 12px 0;
}

.roomChooseOption {
  width: 100%;
  padding: 6px 0;

  .roomChooseQuestion,
  .roomChooseCheckbox{
    margin-bottom: 8px;
  }

  .description {
    display: block;
    font-size: 0.75rem;
    color: $grey70;
  }
}