@mixin tap-item-bottom-line-style() {
  content: " ";
  display: block;
  height: 1px;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000; 
}

// ---------------------------------------------------- APP-TAB 

.app-tab {
  position: relative;
  height: 0;
  padding: 0 30px;

  //  Circle Button Back with Left Arrow

  &__btn-back {
    width: 30px;
    height: 30px;

    position: absolute;
    top: -15px;
    left: 15px;

    background-color: #fff;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;

    font-size: var(--icon-size-medium);
    color: var(--primary-color)
  }

  //  Button Location

  &__btn-location {
    position: absolute;
    top: 44px;
    right: 36px;
    z-index: 10;
  }

  //  Tab Card

  &__card {
    :global {
      .ant-tabs-tab {
        margin-right: -15px !important;
        background: #fff !important;
        padding: 8px 30px !important;
        color: var(--grey-700);

        border: 1px solid var(--grey-400) !important;
        border-bottom: none !important;

        transition: none !important;
        
        &::after {
          background-color: var(--grey-400);
          @include tap-item-bottom-line-style;
        }
      }

      .ant-tabs-tab-active {
        z-index: 999 !important;
        position: relative;

        transition: none !important;

        &::after {
          background-color: #fff;
          @include tap-item-bottom-line-style;
        }
      }

      .ant-tabs-nav-wrap {
        z-index: 1;
      }

      .ant-tabs-nav {
        margin: 0;
        margin-bottom: -1px !important;

        &::before {
          border-bottom: none;
        }
      }

      @for $i from 1 through 999 {
        .ant-tabs-tab:nth-child(#{$i}) {
          z-index: 998 - $i;
        }
      }
    }
  }
}
