@import "src/styles/variable";
@import "src/styles/input";

.newField {
  color: $grey85;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    color: var(--primary-color);
  }

  svg {
    display: inline;
    padding-left: 2px;
  }
}

.formAdd {
  margin-top: 12px;
  display: flex;
  flex-flow: column;

  .formAddError {
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
    }
  }
}

.formItem {
  margin-bottom: 12px;
}

.switchBtn {

}

.marginReset {
  margin-bottom: 12px;
}