@import 'src/styles/variable';

.formItem {
    margin-bottom: 15px;
}

.formItemDynamic {
    margin-top: 22px;
}

.formInfo {
    padding-right: 5px;
}

.imageUpload {
    padding-top: 12px;
    padding-left: 40px;
    width: 100% !important;
    // height: 100% !important;
    // max-height: 300px;

    :global {
        .ant-upload.ant-upload-select {
            border: unset !important;
        }
        .ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select:hover {
            border: unset !important;
        }
        .ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select {
            border: unset !important;
        }
        .ant-upload.ant-upload-select > span.ant-upload {
            //border: unset !important;
            background-color: hsla(5.6, 80.2%, 60.4%, 0.1);
            border: 2px dashed var(--primary-color);
            border-radius: 0;
            color: var(--primary-color);
        }

        .ant-upload.ant-upload-select,
        .ant-upload-list-item-container {
            width: 200px !important;
            height: 200px !important;
            margin-inline-end: 0;
            margin-bottom: 0;

            &:hover {
                border-color: $primary-color !important;
                & > span > div {
                    // color: $primary-color !important;
                    // transition: all 0.2s ease-out;;
                }
            }
        }

        .ant-upload-list.ant-upload-list-picture-card {
            width: 95% !important;
            // height: 95% !important;
        }
    }
}

.thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url("/assets/img/fallback-img.png");
    object-fit: contain;
}

.iconUpload {
    cursor: pointer;
    width: 40px !important;
    height: 40px !important;

    &:hover {
        color: $primary-color !important;
    }
}

.recommended {
    font-size: 0.8rem;
    color: $primary-color;
    padding-left: 40px;
}
