@import "variable";
.input {
  width: 100%;
  position: relative;

  &Label {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    padding: 0 20px;
    margin: 0 2px;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    transition: transform 120ms ease-in;
    font-size: 1rem;

    line-height: 1rem;
    letter-spacing: 0.00938em;

    opacity: 0.6;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(133% - 24px);
    background-color: #ffffff;
    border-radius: 25px;
    pointer-events: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    z-index: 1;
    user-select: none;

    &DisablePrimaryColor {
      color: $primary-color;
    };

    &DisableGrayColor {
      background-color: #F5F5F5;
    };
  }

  &Actions {
    display: flex;
    position: absolute;
    align-items: center;
    top: -8px;
    right: 0;
    padding: 8px 0 8px 4px;

    i {
      padding: 2px;
      margin-right: 4px;

      &:hover {
        color: $primary-color;
        cursor: pointer;
      }
    }
  }

  &HasValue {
    & + .inputLabel {
      opacity: 1;
      -webkit-transform: translate(-4px, -13px) scale(0.8);
      -ms-transform: translate(-4px, -13px) scale(0.8);
      transform: translate(-4px, -13px) scale(0.8);
      left: 12px;
      top: -6px;
      padding-block: 0;
      padding-inline: 4px;
    }
  }

  .err-mess {
    margin-left: 6px;
    font-weight: 400;
    color: red;

    .err-mess > span {
      font-size: 0.8rem;
    }
  }

  :global {
    .ant-select-selector {
      min-height: 38px !important;
      border-radius: 12px;
      padding: 4px 14px;
    }

    .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
      padding-left: 2px;
      display: flex;
      align-items: center;
    }
  }
}

.inputCustom {
  line-height: 30px;
  border-radius: 12px;
  padding-left: 14px;

  &:hover {
    border-color: $grey70;
  }

  :global {
    .ant-input-affix-wrapper >input.ant-input:focus {
      border-color: $grey30;
      box-shadow: none !important;
    }
  }

  & input:focus {
    border-color: $grey30;
    box-shadow: none !important;

    .inputCustom + .inputLabel {
      opacity: 1;
      -webkit-transform: translate(-4px, -13px) scale(0.8);
      -ms-transform: translate(-4px, -13px) scale(0.8);
      transform: translate(-4px, -13px) scale(0.8);
      left: 15px;
      top: -6px;
      padding-block: 0;
      padding-inline: 4px;
      color: $primary-color;
    }
  }

  &::placeholder {
    color: $primary-color;
  }
}

.inputCustomNumber {
  line-height: 30px;
  border-radius: 12px;
  padding-left: 14px;
  min-height: 40px;

  &.inputDisabled {
    color: black;
    background-color: white;
    border-color: #d9d9d9;
    box-shadow: none;
    opacity: 1;
    cursor: default;
  }
}

.inputSmall {
  &.inputDisabled {
    color: black;
    background-color: white;
    border-color: #d9d9d9;
    box-shadow: none;
    opacity: 1;
    cursor: default;
  }
}

.inputLabelCustom {
  top: -3px;
}

.inputLabel {
  line-height: 1.3rem;
  top: -2px;
  font-size: 0.9rem;

  &Small {
    opacity: 1;
    padding: 0 0px;
    font-size: 0.9rem;
    top: 3px;
    left: 8px;
    color: $primary-color;
  }

  &.Select {
    padding-top: 3px;
  }

  &.hasValue {
    opacity: 1;
    -webkit-transform: translate(-4px, -13px) scale(0.9);
    -ms-transform: translate(-4px, -13px) scale(0.9);
    transform: translate(-4px, -13px) scale(0.9);
    padding-block: 0;
    padding-inline: 4px;
    color: $primary-color;
    left: 18px;
    top: -8px;
  }

  &.small {
    font-size: 0.9rem;
    left: 16px;
    top: 3px;
  }

  &.focusValue {
    color: $primary-color;
  }
}
