@import 'src/styles/variable';

// ------------------------------------------------ Tool item right sidebar
.tool-right-sidebar {
    display: flex;
    height: 100%;
    flex-flow: column;

    &__part1 {

    }
    &__part2 {
        flex: 1;
    }
    &__part3 {

    }

    &__divider {
        border: 0.5px solid var(--grey-500);
        width: 60%;
        margin: 0 auto;
    }
}

.tool-item-right-sidebar {
    width: 100%;
    padding: 12px;

    &__icon {
        width: 100%;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        color: var(--secondary-color-15);
    }

    &__icon.img--is-active {
        filter: var(--filter-icons--primary-color);
    }

    &__icon.is-active {
        color: var(--primary-color);
    }

    &__icon-img {
        @extend .tool-item-right-sidebar__icon;

        -webkit-filter: grayscale(1);
        filter: grayscale(1);

        &.is-active {
            color: var(--primary-color);
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
        }
    }
}

// ------------------------------------------------ Sub Tool item right sidebar

.subtool-right-sidebar {
    position: absolute;
    top: 0px;
    left: -280px;
    height: 100%;
    background-color: var(--grey-200);
    padding: var(--padding-medium);
    overflow-y: auto;
    z-index: 1;

    min-width: 280px;
    max-width: 280px;
    width: 100%;
    
    border-right: 2px solid var(--accent-color-1);

    &.is-hidden {
        display: none;
    }
}
