@import "src/styles/variable";

$tool-file-max-height: 190px;

// ----------------------------------------------------------- Tool File Label

.tool-file {
  max-height: $tool-file-max-height;
  overflow-y: auto;
}

// ----------------------------------------------------------- House image

.house {
  width: 100%;

  .houseContent {
    width: 100%;
    padding: 10px;

    .roof,
    .floor {
      & img {
        width: 100%;
      }
    }

    .roof {
      width: 100%;
      position: relative;
    }

    .roofFile {
      top: 45%;
      width: 100%;
      position: absolute;

      &.roofFileOpen {
        top: 30%;
      }
    }

    .roofRow {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .roofCol {
      width: 55%;

      &.roofColNone {
        display: none;
      }

      &.roofCol1 {
        width: 63%;
      }

      &.roofCol2 {
        width: 45%;
        margin-bottom: -3px;
      }

      &.roofCol3 {
        width: 38%;
      }
    }



    .wall {
      width: 100%;
      background-size: contain !important;
      // display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      padding: 0 20px;

      &.wallBig {
        padding: 0 35px;
      }

      .wallItemCt {
        overflow: auto;
        height: 100px;
      }
    }
  }
}

// ----------------------------------------------------------- File items in House

.fileItem {
  cursor: pointer;
  display: block;
  color: $primary-color;
  background: #fff;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 3px;
  padding: 1px 6px;
  text-align: center;

  &:hover {
    background: $primary-color;
    color: #fff;
  }

  &.fileItemBig {
    margin-top: 5px;
    font-size: 0.75rem;
    padding: 4px 7px;
  }

  &.fileItemActive {
    background: $primary-color;
    color: #fff;
  }
}


.fileItemNone {
  cursor: pointer;
  display: block;
  color: $primary-color;
  font-size: 0.7rem;
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 3px;
  padding: 1px 6px;
  text-align: center;
  border: 1px dashed $grey70;

  &:hover {
    color: #fff;
    border-color: #fff;
    background: $primary-color;
  }

  &.noneMargin {
    margin-bottom: 3px;
  }

  &.fileItemNoneOpen {
    font-size: 1rem;
    margin-bottom: 3px;
  }
}

.toolItem {
  width: 100%;
  padding: 12px 30px;
  color: $grey70;

  .toolBtn {
    cursor: pointer;
  }

  .itemIcon {
    width: 100%;
    font-size: 1.5rem;
    color: $grey50;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      color: $primary-color;
    }
  }

  .itemName {
    padding-left: 10px;
    font-size: 0.9rem;
    color: $grey70;
    font-weight: 400;
    text-transform: capitalize;

    &.active {
      color: $primary-color;
    }
  }
}