@use 'sass:color';
@import 'src/styles/variable';

$secondary-color: #2a2e3a;
$search-bar-color: color.scale($secondary-color, $lightness: 80%);

// -------------------------------------------------------------------

.title-page {
    height: 100%;

    display: flex;
    justify-content: left;
    align-items: center;

    flex-flow: row nowrap;

    &__title-name {
        flex-basis: 50%;

        height: 100%;
        
        padding-left: 20px;

        display: flex;
        align-items: center;
        justify-content: left;
        
        gap: 4px;

        &__first-name {
            font-weight: var(--f-weight-light);
        }

        &__second-name {
            text-transform: capitalize;
            
            font-weight: var(--f-weight-bold);
        }

        &__divider {
            font-weight: var(--f-weight-medium);
        }

        &__name {
            color: var(--primary-color);
            
            font-weight: var(--f-weight-bold);
        }
    }

    &__functions {
        height: 100%;
        flex-basis: 50%;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        &-btn {
            height: 100%;
            display: flex;
            align-items: center;
        }

        &-search-bar {
            height: 100%;
            padding: 12px 12px;
            width: 300px;

            background-color: var(--subtool-show-all-color);
        }
    }
}

/*horizontal Ipad (1024 x 768)*/
@media screen and (min-width: 1025px) {
    .title-page__title-name {
        //font-size: 1.5rem;
        //padding-left: 20px;
    }
}

/*horizontal Ipad (1024 x 768)*/
@media screen and (max-width: 1024px) {
    .title-page__title-name {
        //font-size: 1.2rem;
        //padding-left: 20px;
    }
}
/*vertical Ipad(768 x 1024)*/
@media screen and (max-width: 768px) {
    .title-page__title-name {
        //font-size: 1.2rem;
        //padding-left: 20px;
    }
}
/*small Tablet(480 x 640)*/
@media screen and (max-width: 480px) {
    .title-page__title-name {
        //font-size: 1rem;
        //padding-left: 20px;
    }
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {
}
/*small Smart phone*/
@media screen and (max-width: 240px) {
}
