@import 'src/styles/variable';
@import 'src/styles/input';

.action-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-icon {
    width: 20px;
    height: 20px;

    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
