@import "src/styles/variable";

.divider {
  margin-top: 0;
}

.formProject {
  margin-bottom: 12px;
}

.title {
  color: $primary-color;
  font-size: 1.3rem;
}

.btnUpdate {
  width: 100%;
  padding-top: 6px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  justify-content: right;
}