@use 'sass:color';
$secondary-color: #2a2e3a;

// ----------------------------------------------------------- SEARCH BAR

.search-bar {
  display: flex;
  align-items: center;

  &__input {
      flex: 1; // wrapper should display flex, align-items: center;
      border: 0px solid white;
      outline: 0px solid white;
      background-color: transparent;

      &:active {
          border: 0px solid white;
          outline: 0px solid white;
      }

      &:hover {
          border: 0px solid white;
          outline: 0px solid white;
      }

      &:focus {
          border: 0px solid white;
          outline: 0px solid white;
      }

      &:focus-visible {
          border: 0px solid white;
          outline: 0px solid white;
      }

      &::placeholder {
          color: color.scale($secondary-color, $lightness: 15%);
      }
  }

  &__icon {
      font-size: var(--icon-size-small);
      color: var(--secondary-color);
  }
}
